* {
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}

 .tabela thead {
    display: none;
}

.nav-abas, .container-conteudo {
    width: 95%;
}

.search {
    background-position: right 4% bottom 50%;
    padding: 10px 0px 10px 15px;
    width: 95%;
}

/* --- Tabela --- */
.tabela {
    padding: 0;
    border-collapse: collapse;
}

.tabela tbody tr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.tabela tbody td {
    border: 1px solid #000000;
    word-wrap: break-word;
    width: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 45px 10px 25px 10px;
}

/* Mostrando os span's, definindo a posição e colocando uma borda embaixo*/
.tabela span {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #bfbfbf;
    padding: 4px 0 4px 0;
    border-bottom: 1px solid #000000;
}



/* Remove as bordas extras da tabela atributos*/
#tabela-tags tbody td:nth-child(2n-1){
    border-right: none;
}

#tabela-tags tbody td:nth-child(-n + 2){
    border-bottom:none ;
}


/* Remove as bordas extras da tabela atributos*/
#tabela-atributos td:nth-child(2){
    border-left: none;
}

#tabela-atributos td:last-child{
    border-top: none;
}