* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
    min-width: 100%;
}

/* --- CABEÇALHO --- */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
}

.titulo {
    font-size: 5rem;
    font-family: sans-serif;
    color: #E34F26;
    text-shadow: 4px 4px 4px #000000;
    opacity: 0.8;
}


/* --- ONDE VAI O CONTEÚDO ---*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* --- MENU COM ABAS --- */
.nav-abas { 
    display: flex;
    text-align: center;
    padding: 0;
    margin: 25px 0 0 0;
    background-color: #ffffff;
    width: 85%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3vw;
    color: #1a1a1a;
}

.nav-abas input[type=radio]{
    display: none;
}

.nav-abas input[type=radio] + label {
    width: 50%;
    height: 55px;
    line-height: 50px;
    border: 1px solid #000000;
    display: inline-block;
    position: relative;
    background-color: #ffd1b3;
    padding-bottom: 25px;
}

.nav-abas input[type=radio]:checked + label {
    background-color: #e78523;
}

.nav-abas input[type=radio] + label::after {
    content: "";
    position: absolute; /*Para ficar por cima do conteúdo*/
    bottom: 0;  /*Posicionando a "borda"*/
    left: 0;
    width: 100%; /*Para ir até o final do elemento*/
    height: 7px;
    transform: scaleX(0); 
    transition: transform 1s ease;
    transform-origin: bottom right;
    background: #339933;
}

.nav-abas input[type=radio] + label:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
/* --- CONTEÚDO --- */
.container-conteudo {
    width: 85%;
}

.conteudo {
    display: none;

}

.container-conteudo .conteudo.classe-conteudo {
    display: block;
}


/* --- INPUT DE BUSCA --- */
.search {
    background-image: url('../image/search.png');
    background-repeat: no-repeat;
    background-position: right 2% bottom 50%;
    width: 85%;
    margin: 20px 0 0 0;
    padding: 10px 0px 10px 25px;
    border-radius: 8px;
    border: 1px solid #727171;
}

.search::placeholder{
    color: #000000;
}

/* --- TABELA ---*/
/* Deixa as bordas coladas e mantém uma distância do input de busca */
.tabela {
    border-collapse: collapse;
    margin: 35px 0 0 0;
}


/* Define a cor de fundo e altura do cabeçalho*/

.tabela thead th {
    background-color: #bfbfbf;
    border: 1px solid #000000;
    height: 40px;
    font-size: 1em;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Deixa as tags span ocultas para telas maiores de 800px*/
.tabela span {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.tabela tbody td {
    border: 1px solid #000000;
    text-align: center;
    padding: 15px 10px 15px 10px;
    font-size: 1em;
    line-height: 3vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

.tabela tbody tr:hover{
    background-color: #ffd1b3;
}

/* --- Rodapé --- */
footer {
    clear: both;
    color: #ffffff;
    background-color: #333333;
    height: 50px;
    width: 100%;
    bottom: 0;
    margin-top: 25%;
    position: sticky;
    text-align: center;
}


 /*Configuração do ul e li do Rodape*/
.footer ul, li{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 7px;
    padding: 0 15px 0 15px;
}

/* --- Elementos dentro das tabelas que receberam alguma classe para fins de demonstração --- */

.exemplo-body {
    border: 1px solid #000000;
    height: 100px;
}

.exemplo-header {
    border: 1px solid #000000;
    background-color: #f303b7;
    
}

.exemplo-footer {
    border: 1px solid #000000;
}

.div{
    border: 4px solid #3cff00;
    background-color: #1100ff;
    color: #ffffff;
}

#exemplo-td {
    margin: auto;
}

#exemplo-td th {
    margin: auto;
    background-color: #000000;
    color: white;
}

.exemplo-fieldset input{
    width: 80%;
}

.exemplo-span {
 
    color: green;
}

.exemplo-datalist input{
    width: 70%
}

.obsoleto {
    color:#ff0000;
    text-align: center;
}

.audio {
    width: 150px;
    text-align: center;
}

.logoHTML { 
    max-width: 100%;
    height: auto;
    margin: 1% 0 0 0;
}