* {
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}

.titulo, .tabela thead {
    display: none;
}

.nav-abas, .container-conteudo {
    width: 95%;
}

.search {
    background-position: right 4% bottom 50%;
    padding: 10px 0px 10px 15px;
    width: 95%;
}

/* --- Tabela --- */
/*Dar um espaço entre a barra de pesquisa e a tabela*/
.tabela {
    padding: 0;
    border-collapse: collapse;
    margin-top: 35px;
}

.tabela tbody tr {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.tabela td {
    border: 1px solid #000000;
    word-wrap: break-word;
    width: 50%;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 25px 10px 10px 10px;
}


.tabela span {
    display: block;
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #999999;
    border-bottom: 1px solid #000000;
}

/*Fazendo os spans internos aparecer para ficar mais fácil a leitura dos campos da tabela em celulares
.tabela tr td span {
    display: block;
    font-size: 70%;
    background: #c0bfbf;
    position: relative;
    padding: 2px;
    top:0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid;
}

*/