* {
    box-sizing: border-box;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #dfdfdf;
}

.titulo {
    display: none;
}

.search {
    background-position: right 4% bottom 50%;
    padding: 10px 0px 10px 15px;
}

@media (max-width:200px){
    .search {
        background-image: none;
        width: 95%;
        margin: 5px;
    }
}